.square {
    border: 1px solid black;
    height: 100px;
    width: 100px;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    
}

.board {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    text-align: center;
    margin: auto;
}

h1 {
    text-align: center;
    width : 500px;
    height : 40px;
}

h2 {
    text-align: center;
    width : 500px;
    height : 40px;
}

section {
    display: grid;
    place-items: center;
    margin: 0 auto;
    justify-content: center;
}